---
const { classes } = Astro.props;
---

<div class={`card  border rounded-lg border-[#29385d] mx-auto ${classes}`}>
  <div class="card-glimmer"></div>
  <slot />
</div>

<style>
  .card {
    padding: 2rem;
    position: relative;
    box-shadow: inset 0px 0px 0px 4px #08101d;
    background: linear-gradient(180deg, #0d172d, #070d1c);
  }

  .card-glimmer {
    position: absolute;
    z-index: -1;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    top: -2px;
    left: -2px;
    border-radius: 8px;
    background: linear-gradient(
      110deg,
      transparent,
      transparent,
      var(--color-fade-1),
      var(--color-fade-0),
      var(--color-fade-1),
      transparent,
      transparent
    );
  }
</style>
