---
import Card from "./card.astro";
import DevIcon from "./devicon.astro";
---

<section class="mx-auto max-w-7xl px-4 flex flex-col gap-12 pt-32">
  <div
    class="self-center bg-primary/10 border-2 border-primary w-fit p-1 px-6 rounded-full text-primary"
  >
    Expertise
  </div>
  <ul class="flex gap-8 flex-wrap justify-center">
    <DevIcon iconName="devicon-javascript-plain colored" />
    <DevIcon iconName="devicon-react-original colored" />
    <DevIcon iconName="devicon-css3-plain colored" />
    <DevIcon iconName="devicon-tailwindcss-plain colored" />
    <DevIcon iconName="devicon-nodejs-plain colored" />
    <DevIcon iconName="devicon-typescript-plain colored" />
    <DevIcon iconName="devicon-webpack-plain colored" />
    <DevIcon iconName="devicon-jest-plain colored" />
    <DevIcon iconName="devicon-mongodb-plain colored" />
    <DevIcon iconName="devicon-graphql-plain colored" />
    <DevIcon iconName="devicon-d3js-plain colored" />
    <DevIcon iconName="devicon-postgresql-plain colored" />
    <DevIcon iconName="devicon-nextjs-original colored" />
  </ul>
</section>
