---
import DevIcon from "./devicon.jsx";
import Card from "./card.jsx";
---

<section id="skills" class="py-16 md:py-20 px-6">
  <h2 class="text-5xl font-light text-gray-300 text-center flex flex-col gap-2">
    <span class="text-primary font-bold">Technologies</span>
    <span> I work with</span>
  </h2>
  <div class="mx-auto max-w-7xl pt-12 flex flex-col">
    <ul class="flex gap-8 md:gap-12 flex-wrap justify-center mask-fade">
      <DevIcon
        client:visible
        tooltip="HTML"
        iconName="devicon-html5-plain colored"
      />
      <DevIcon
        client:visible
        tooltip="CSS"
        iconName="devicon-css3-plain colored"
      />
      <DevIcon
        client:visible
        tooltip="Tailwind"
        iconName="devicon-tailwindcss-plain colored"
      />
      <DevIcon
        client:visible
        tooltip="Javascript"
        iconName="devicon-javascript-plain colored"
      />
      <DevIcon
        client:visible
        tooltip="React"
        iconName="devicon-react-original colored"
      />
      <DevIcon
        client:visible
        tooltip="Typescript"
        iconName="devicon-typescript-plain colored"
      />
      <DevIcon
        client:visible
        tooltip="NextJS"
        iconName="devicon-nextjs-plain"
      />
      <DevIcon
        client:visible
        tooltip="Webpack"
        iconName="devicon-webpack-plain colored"
      />
      <DevIcon
        client:visible
        tooltip="Jest"
        iconName="devicon-jest-plain colored"
      />
      <DevIcon
        client:visible
        tooltip="D3"
        iconName="devicon-d3js-plain colored"
      />
      <DevIcon
        client:visible
        tooltip="NodeJS"
        iconName="devicon-nodejs-plain colored"
      />
      <DevIcon
        client:visible
        tooltip="MongoDB"
        iconName="devicon-mongodb-plain colored"
      />
      <DevIcon
        client:visible
        tooltip="GraphQL"
        iconName="devicon-graphql-plain colored"
      />
      <DevIcon
        client:visible
        tooltip="PostgresQL"
        iconName="devicon-postgresql-plain colored"
      />
    </ul>
  </div>
  <div class="pt-24 md:pt-36 lg:pt-48 w-fit min-w-[24rem] mx-auto">
    <Card classes="w-fit md:w-full">
      <div
        class="flex justify-around items-center gap-8 md:gap-16 flex-col md:flex-row md:items-center text-center md:text-start"
      >
        <h3 class="hidden md:block text-2xl font-semibold text-white">
          Hiring ?
        </h3>
        <ul>
          <span class="text-gray-500">Open to:</span>
          <li>Full time opportunities</li>
          <li>Relocation to UK</li>
          <li>Work From Home</li>
        </ul>
        <a
          href="mailto:manikndnpradeep@gmail.com"
          class="bg-primary hover:bg-primary/90 text-[#d7e5ff] px-4 py-2 rounded-md transition-colors flex items-center gap-3"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-4 w-4"
            ><rect width="20" height="16" x="2" y="4" rx="2"></rect><path
              d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></svg
          ><span>Get in touch</span></a
        >
      </div>
    </Card>
  </div>
</section>

<style>
  .mask-fade {
    -webkit-mask: linear-gradient(180deg, white 70%, transparent);
  }
</style>
