---
import Card from "./card.astro";
---

<section class="mx-auto max-w-7xl py-32">
  <div class="flex flex-col gap-6">
    <div
      class="border-2 border-primary w-fit mx-auto p-1 px-6 rounded-full text-primary"
    >
      Experience
    </div>
    <div class="flex justify-evenly md:2 lg:mt-0">
      <a href="https://www.infosys.com/"
        ><img
          class="aspect-auto h-12 md:h-16 lg:h-24 saturate-0 hover:saturate-100 transition-[filter]"
          src="/InfosysOriginal.png"
        /></a
      >
      <a href="https://www.incedoinc.com/"
        ><img
          class="aspect-auto h-12 md:h-16 lg:h-24 saturate-0 hover:saturate-100 transition-[filter]"
          src="/IncedoOriginal.png"
        /></a
      >
      <a href="https://autonom8.com/"
        ><img
          class="aspect-auto h-12 md:h-16 lg:h-24 saturate-0 hover:saturate-100 transition-[filter]"
          src="/A8Original.png"
        /></a
      >
      <a href="https://www.getcerta.com/"
        ><img
          class="aspect-auto h-12 md:h-16 lg:h-24 saturate-0 hover:saturate-100 transition-[filter]"
          src="/CertaOriginal.png"
        /></a
      >
    </div>
    <Card classes="">
      <div class="flex gap-4 items-baseline">
        <h3 class="font-bold text-2xl text-primary">
          Senior Frontend Engineer
        </h3>
        <span class="font-normal text-sm text-textMuted"
          >Jun 2000 - Mar 2024</span
        >
      </div>
      <ul class="mt-4 ml-4">
        <li>
          Lead the development of a robust data visualization tool that allowed
          customers to create dynamic visualizations for various business
          metrics.
        </li>
        <li>
          Actively contributed in implementing a highly customisable charting
          suite wrapped around D3.js.
        </li>
        <li>
          Worked as an interim module lead team taking up responsibilities such
          as requirement gathering and outlining roadmaps to the client.
        </li>
        <li>
          Worked as an interim module lead team taking up responsibilities such
          as requirement gathering and outlining roadmaps to the client.
        </li>
      </ul>
    </Card>
  </div>
</section>
