---

---

<footer class="flex justify-between max-w-7xl mx-auto py-4">
  <p class="font-thin text-sm">Designed and developed by Manikandan</p>
  <p class="font-thin text-sm">&#169; Manikandan 2023</p>
</footer>
