---

---

<div class="gutter"></div>

<style>
  .gutter {
    background: linear-gradient(
        90deg,
        transparent,
        var(--color-fade-1),
        var(--color-fade-1),
        var(--color-fade-0),
        var(--color-fade-0),
        var(--color-fade-0),
        var(--color-fade-1),
        var(--color-fade-1),
        transparent
      )
      border-box;
    border: 0.5px solid transparent;
  }
</style>
