---

---

<header class="w-full border-b shadow-sm">
  <div class="mx-auto max-w-7xl flex items-center justify-between p-4">
    <a href="/">
      <img class="h-8" src="/favicon.svg" />
    </a>
    <nav class="hidden sm:flex gap-8 font-light">
      <a href="#">Home</a>
      <a href="#">Contact</a>
      <a href="#">Works</a>
    </nav>
  </div>
</header>
