---

---

<header
  class="w-full bg-[#0b1528d1] shadow-sm backdrop-blur-md sticky top-0 z-10 border-b border-[#1b2741]"
>
  <div class="mx-auto max-w-7xl flex items-center justify-between p-4 px-6">
    <a href="/" class="gap-2 items-center hidden sm:flex">
      <img class="h-8" src="/favicon.svg" />
      <!-- <span class="font-medium text-blue-200 text-lg">MANIKANDAN</span>
      <span class="font-thin text-primary text-lg">SIVASANKAR</span> -->
    </a>
    <nav
      class="flex gap-8 font-light text-gray-400 items-center flex-1 justify-evenly sm:flex-none sm:justify-normal"
    >
      <a href="#home" class="text-sm hover:text-primary transition-colors"
        >HOME</a
      >
      <a href="#about" class="text-sm hover:text-primary transition-colors"
        >ABOUT</a
      >
      <a href="/" class="block sm:hidden gap-2 items-center">
        <img class="h-8" src="/favicon.svg" />
      </a>
      <a href="#work" class="text-sm hover:text-primary transition-colors"
        >WORK</a
      >
      <a href="#skills" class="text-sm hover:text-primary transition-colors"
        >SKILLS</a
      >
    </nav>
  </div>
</header>
