---

---

<section
  class="mx-auto h-[70vh] max-w-5xl px-4 grid grid-cols-3 relative items-center"
>
  <div
    class="flex flex-col gap-3 justify-center items-center lg:items-start col-span-3 lg:col-span-2"
  >
    <h1 class="font-bold text-4xl">Manikandan Sivasankar</h1>
    <h2 class="font-semibold text-3xl">Frontend Developer</h2>
    <p class="font-medium text-2xl text-center lg:text-start text-textMuted">
      Building better user experiences<br /> on the web
    </p>
    <a
      href="#"
      class="mt-8 bg-primary hover:[--alpha:0.9] text-white px-4 py-2 rounded-md self-center lg:self-start transition-colors"
      >Know more</a
    >
  </div>
  <img
    class="w-[36rem] hidden lg:block absolute z-[-1] lg:right-0"
    src="./Illustration.svg"
  />
</section>
